/* Contacts CSS */
@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
.contact-body {
  background-color: #5050e2;
  min-height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  flex-direction: column;
}
.contact-grid {
  text-align: center;

  width: 70%;
  height: max-content;
  margin: 7rem auto !important;
  background: white;
  background-size: 1000%;
  color: black;
  border: 5px solid #000000;
  border-radius: 32px;
}

.cardBox {
  perspective: 500px;
  margin: 20px;
  height: 100px;
  display: flex;
  padding-left: 12rem;
  padding-top: 3rem;
}
.card {
  position: absolute;
  width: 20px;
  height: 20px;
  background: blue;
  transform-style: preserve-3d;
  transition: 0.6s ease;
  border-radius: 5em;
}
.Priyanshu {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgb(255, 255, 255);
}

.card-front,
.card-back {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
}
.card-front {
  font-size: 40px;
  display: grid !important;
  place-content: center !important;
}
.IMPR {
  width: auto;
  margin-left: 90px;
}
.card-back {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
}
h3 {
  background: -webkit-linear-gradient(rgba(3, 9, 92, 0.733), rgb(0, 113, 128));
  -webkit-background-clip: text;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-text-fill-color: transparent;
}
.card-back,
p {
  background: -webkit-linear-gradient(rgba(3, 9, 92, 0.733), rgb(0, 113, 128));
  -webkit-background-clip: text;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-text-fill-color: transparent;
}
.cardBox:hover .card {
  transform: rotateY(180deg);
}
.card-back {
  transform: rotateY(180deg);
}
.red-title {
  margin: 24px 0 0.2em !important;
  font-family: "Bungee Shade", cursive !important;
  text-shadow: 4px 4px 4px #aaa !important;
  line-height: none !important;
}
.contact-grid hr {
  border-top: 5px groove blueviolet;
  width: 50%;
  margin: auto;
}
.contact-List i {
  font-size: 60px;
  /* padding-right: 10rem; */
  display: flex;
  float: left;
}
.contact-List p {
  font-size: 30px;
  line-height: none;
  margin-left: 90px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
}
.contact-List {
  margin-top: 3rem !important;
  margin: auto;
  width: 80% !important;
  border: 3px solid rgb(102, 5, 94);
  border-radius: 32px;
  text-decoration: underline;
  display: grid;
  place-content: center;
  padding-bottom: auto !important;
  z-index: 10;
}
.introduction {
  font-size: 20px !important  ;
  line-height: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 14rem;
  width: 75%;
  text-transform: lowercase;
}
.introduction strong {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 40px;
  text-transform: uppercase;
}
.no {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .contact-body {
    width: auto;
    height: auto;
    background-color: #5050e2;
    min-height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
  }
  .contact-grid {
    width: 90%;
    margin-top: 10rem !important;
    height: auto !important;
  }

  .contact-grid hr {
    display: none;
  }
  .IMPR {
    display: none;
  }
  .cardBox {
    margin: auto;
    padding-left: 6rem;
    padding-top: 3rem;
  }
  .card-front {
    display: none;
  }
  .card-back {
    display: none;
  }
  .Priyanshu {
    width: auto;
    height: auto !important;
  }
  .contact-List {
    height: max-content;
    border: none;
  }

  .contact-List,
  p {
    text-align: center !important;
  }
  .cardBox {
    display: none;
  }
  .introduction {
    font-size: 20px !important  ;
    line-height: none !important;
    font-family: "Montserrat Alternates", sans-serif;
    margin: auto;
    padding-top: 2rem;
    width: auto;
  }
  .mt5 {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1500px) {
  .contact-List {
    width: 50% !important;
  }
}
