
.card-lesson {
  margin: 10px;
  min-width: 200px;
  min-height: 100px;
}
.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height:150px;
}
.mdl-card__title {
  align-items: flex-start;
}
.mdl-card {
  border: 3px solid black;
  background-image: url("https://media.istockphoto.com/photos/abstract-curved-particle-blue-background-picture-id1076029812?k=6&m=1076029812&s=612x612&w=0&h=NqD6dyKjFMldBfVSFWgeKKYg5gbWooB78_B61ksp-XE=") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.849) !important;
  transition: 0.3s all !important;
  text-align: center !important;
}
.mdl-card:hover {
  box-shadow: none !important;
}

.mdl-button {
  color: whitesmoke !important;
  background-color: black !important;
  transition: 0.3s all !important;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.849) !important;
  width: 200px !important;
}
.mdl-button:hover {
  box-shadow: none !important;
}
.mdl-card__title-text {
  background: -webkit-linear-gradient(
    rgba(246, 244, 244, 0.733),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 4px #aaa !important;
}
.mdl-card__supporting-text {
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.733),
    rgb(255, 255, 255)
  );

  -webkit-background-clip: text;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-text-fill-color: transparent;
  width: 100% !important;
}
.mdl-card__actions {
  display: grid !important;

  place-content: center !important;
}
.mdl-card__title,
.mdl-card__supporting-text,
.mdl-card__actions,
.mdl-card__actions > .mdl-button {
  color: #fff;
}
